#logo{
    max-width: 40px;
    max-height: 40px;
    background: url(img/logoBlack.png);
}
.navbar{
    
    background-color: white;
}
.page-scroll{
    color: black !important;

}
.findOutMore{
    color: white !important;
}
.no-gutter{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    margin: 0;
}
header{
    background-color: rgba(0, 0, 0, 0.45);
    background-blend-mode: multiply;
}
.header-content .header-content-inner p{
    font-size: 16px !important;
    color: white !important;
}